@model System.Text.Json.JsonElement?
@if (Model.HasValue && Model.Value.ValueKind == System.Text.Json.JsonValueKind.Array)
{
    @foreach (var pkg in Model.Value.EnumerateArray())
    {
        string name = pkg.TryGetProperty("packageName", out var nameProp)
        ? nameProp.GetString() ?? ""
        : "";

        string url = pkg.TryGetProperty("url", out var urlProp)
        ? urlProp.GetString() ?? ""
        : "";
        <div class="col col-md-3 col-lg-3">
            <a asp-page="/packageDetails" asp-route-pkg_name="@url">
                <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 8C15 4.13401 11.866 1 8 1C4.13401 1 1 4.13401 1 8C1 11.866 4.13401 15 8 15V16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8C16 12.4183 12.4183 16 8 16V15C11.866 15 15 11.866 15 8Z"></path>
                    <path d="M11.6947 6.45795L7.24644 10.9086C7.17556 10.9771 7.08572 11.0126 6.99596 11.0126C6.9494 11.0127 6.90328 11.0035 6.86027 10.9857C6.81727 10.9678 6.77822 10.9416 6.7454 10.9086L4.3038 8.46699C4.16436 8.32987 4.16436 8.10539 4.3038 7.96595L5.16652 7.10083C5.29892 6.96851 5.53524 6.96851 5.66764 7.10083L6.99596 8.42915L10.3309 5.09179C10.3638 5.05887 10.4028 5.03274 10.4457 5.01489C10.4887 4.99705 10.5347 4.98784 10.5812 4.98779C10.6757 4.98779 10.7656 5.02563 10.8317 5.09179L11.6944 5.95699C11.8341 6.09643 11.8341 6.32091 11.6947 6.45795Z"></path>
                </svg> @name
            </a>
        </div>
    }
}