.newform {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: repeat, no-repeat;
  background-image: linear-gradient(rgba(34, 26, 25, 0.4), rgba(34, 26, 25, 0.4)), url("../img/flight/newformbackground.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}
.container  {  
	width:100%;
	max-width: 1440px;
}
.newform .mainheading {
  text-align: center;
  color: #fff;
}
.newform .foursections-outer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  text-align: center;
  flex-wrap: wrap;
}
.newform .foursections-outer .foursections {
  width: 25%;
  color: #fff;
}
.newform .foursections-outer .foursections span {
  color: #f8b20c;
}
.newform .foursections-outer .second {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
.newform .tabbtns {
  width: 100%;
  display: flex;
}
.newform .tabbtns .tabbtn {
  background: #fff;
  padding: 10px 25px;
  border-bottom: 1px solid #ccc;
}
.newform .tabbtns .btn2 {
  background: #5785c1;
}
.newform .tabbtns .btn1 a {
  color: #2d2d2d;
}
.newform .tabbtns .btn2 a {
  color: #fff;
}
.newsearch {
  background-color: #fff;
  padding: 15px;
}
.newsearch .frmfields label {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  /*	 border-radius: 5px;*/
}
    .newsearch .frmfields label .floating {
        position: absolute;
        top: -11px;
        left: 12px;
        padding: 0px 5px;
        font-size: 12px;
        background-color: #fff;
        line-height: 15px;
    }
    .newsearch .frmfields label input {
        width: 100%;
        border: 0;
        box-shadow: 0;
        font-size: 14px;
        padding: 7px 10px;
        background-color: #fff;
        height: auto;
        border-radius: 0px;
        line-height: 20px;
    }
.newsearch .frmfields label input::placeholder {
  font-size: 13px;
}
.newsearch .frmtop label {
  font-size: 14px;
}
.newsearch .frmtop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.newsearch .frmtop .newformradios {
  display: flex;
  align-items: center;
}
.newsearch .frmtop .newformradios label {
  display: flex;
  align-items: center;
}
.newsearch .frmtop .newformradios input {
  margin-right: 5px;
}
#cabin {
  border: 1px solid #ccc;
}
.newsearch input:focus-visible {
  outline: 1px solid #5785c1;
}
.newsearch select:focus-visible {
  outline: 1px solid #5785c1;
}
.dateouter {
  position: relative;
}
.calandericon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
}
.newsearch select {
  font-size: 13px;
  padding: 5px 10px;
  background: transparent;
  height: auto;
}
.newsearch select option {
  font-size: 13px;
}
.newsearch select option:hover {
  background-color: #5785c1 !important;
}
.datepicker2 {
  display: block;
}
.newsearch .frmfields input[type="submit"] {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #5785c1;
  color: #fff;
  border: 0;
  border-radius: 5px;
}
#diviMsg .btndiviMsg {
  background-color: #5785c1;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
}
#diviMsg {
  position: absolute;
  top: 100%;
  background: #fff;
  right: 0;
  box-shadow: 0 0 5px #ccc;
  z-index: 2;
  width: 250px;
  padding: 16px;
  font-size: 14px;
}
#diviMsg span {
  cursor: pointer;
  display: block;
}
#diviMsg .number {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#diviMsg .newminus, #diviMsg .newplus {
  border: 1px solid #e5e5e5;
  padding: 0px 15px;
  background: transparent !important;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#diviMsg .newminus {
  background: #193844;
  color: #000;
  font-weight: 800;
}
#diviMsg .newplus {
  background: #193844;
  color: #000;
  font-weight: 800;
}
#diviMsg .newinput {
  height: 33px;
  width: 40px;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-left: 0;
  border-right: 0;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f9fd !important;
}
.all_values {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  font-size: 13px;
  color: #747474;
  width: 100%;
  padding: 0 5px;
  top:0;
}
.diviouterbox {
  position: relative;
}
@media only screen and (max-width: 576px) {
  .newform {
    padding: 50px 10px;
  }
  .newform .foursections-outer .foursections {
    width: 50%;
  }
  .alllogos_box {
    display: none;
  }
}
@media only screen and (max-width: 1199px) {
  .newsearch .frmfields label input::placeholder {
    font-size: 12px;
  }
}
 
.afterfrm-content p {
  font-size: 12px;
}
 
/*===============new loader strats================*/
.newloader {
    background: #fff;
    width: 100%;
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    box-shadow: 0 0 24px #d9d9d9;
    border-radius: 20px;
}
.newloader .destinations{
	background: #fff;
	width: 100%;
	display: flex;
    justify-content: space-between;
	margin-bottom: 15px;
}
.afterloadertext p{
	color: #4c4c4c;
	font-size: 14px;
}
 
/*
.slide-progress-bar {
  width: 100%;
  background-color: rgba(155, 155, 255, 0.36);
  transition: width 10s linear;
  display: inline-block;
  vertical-align: middle;
}
.progress-bar {
  height: 5px;
  background-color: #008CFF;
  width: 1%;
  position: relative;
  transition: linear;
}
*/
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #498fef;
  text-align: center;
  line-height: 30px;
  color: white;
}
/*================popup ends=======================*/
.alllogos_box img {
  width: 100px;
}
.alllogos_box .imgbox {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.new_ofrmouter .leftfrm_first .top_txt {
  font-size: 14px;
}
.new_ofrmouter {
  background-image: url("/wp-content/uploads/2024/02/countrybg.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}
.new_ofrmouter .leftfrm h3 {
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  margin-bottom: 15px;
}
.new_ofrmouter .leftfrm_content {
  background-color: #fff;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}
.new_ofrmouter .leftfrm_content .leftfrm_first {
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 8px;
}
.new_ofrmouter .leftfrm_content .slash {
  margin: 0 5px;
}
.new_ofrmouter .leftfrm_content .top_txt {
  color: #f8b20c;
}
.new_ofrmouter .leftfrm_content .call_save strong {
  background-color: #f8b20c;
  padding: 5px;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
}
.new_ofrmouter .leftfrm_content .pricing {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  align-items: flex-start;
}
.new_ofrmouter .leftfrm_content .oldprice {
  margin-right: 10px;
}
.new_ofrmouter .leftfrm_content .oldprice span {
  font-size: 24px;
  color: rgb(118, 118, 118);
  text-decoration: line-through;
  display: inline-block;
}
.new_ofrmouter .leftfrm_content .actualprc {
  font-size: 48px;
  color: #f8b20c;
  font-weight: bold;
}
.new_ofrmouter .leftfrm_content .newprice .dollar {
  font-size: 30px;
  color: #f8b20c;
  font-weight: bold;
}
.new_ofrmouter .leftfrm_content .newprice .star {
  font-size: 30px;
  color: #f8b20c;
  font-weight: bold;
}
.new_ofrmouter .leftfrm_content .newprice .persons {
  font-size: 13px;
  color: #101010;
  font-weight: normal;
  margin-left: 10px;
}
.new_ofrmouter .leftfrm_content .newprice {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.new_ofrmouter .leftfrm_content .result-trip-type {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  margin: 0px 0 15px 0;
}
.new_ofrmouter .leftfrm_content .trustpilot-rating {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.new_ofrmouter .leftfrm_content .trustpilot-rating .ratings {
  color: #00b67a;
  margin: 0 10px;
  font-size: 13px;
}
.new_ofrmouter .leftfrm_content .trustpilot-rating .trustpilot-icons {
  display: flex;
  align-items: center;
}
a.trustpilot-icons {
  color: #212529;
}
a.trustpilot-desc {
  color: #212529;
}
.new_ofrmouter .leftfrm_content .trustpilot-rating .trustpilot-desc {
  font-size: 13px;
}
.new_ofrmouter .leftfrm_content .result-search-edit {
  border-top: 1px solid #ccc;
}
.new_ofrmouter .leftfrm_content .result-search-edit a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #ccc;
  background-color: #5785c1 !important;
  color: #fff;
  margin-top: 15px;
  padding: 5px 10px;
}
/*============right form css=================*/
.rightfrm {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
.rightfrm .toll-free {
  font-size: 20px;
  color: #000;
  font-weight: bolder;
}
.rightfrm .toll-free strong {
  color: #f8b20c;
}
.rightfrm .dl {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.rightfrm .dl strong {
  font-size: 13px;
}
.rightfrm .or {
  width: 100%;
  text-align: center;
  position: relative;
}
.rightfrm .or span {
  position: relative;
  z-index: 999;
  background-color: #fff;
}
.rightfrm .or::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: rgb(229, 229, 229);
}
.rightfrm .frm_section h6 {
  text-align: center;
  margin: 15px 0;
  font-weight: 600;
}
.rightfrm .frm_section .input-group {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
}
.rightfrm .frm_section .email {
  width: 100%;
}
.rightfrm .frm_section .quote {
  width: 100%;
  padding: 5px;
  margin-bottom: 0;
}
.rightfrm input[type="submit"] {
  width: 100%;
  background-color: #5785c1 !important;
  border: 0;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 10px !important;
  border-radius: 5px;
}
.rightfrm .frm_section .fields_outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rightfrm .frm_section .fields_outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.rightfrm .frm_section .grp_outer {
  width: 100%;
  position: relative;
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.rightfrm .frm_section .grp_outer label {
  position: absolute;
  top: -9px;
  left: 10px;
  background-color: #fff;
  font-size: 11px;
  color: #606060;
}
.rightfrm .frm_section .grp_outer input {
  box-shadow: 0;
  border: 0;
  width: 100%;
}
.rightfrm .frm_section .grp_outer input:focus {
  box-shadow: 0 !important;
  border: 0 !important;
  outline: 0;
}
.rightfrm .frm_section .grp_outer input::placeholder {
  color: #101010;
  font-size: 13px;
}
.rightfrm .frm_section .end_text p {
  font-size: 10px;
  color: #8f8f8f;
  line-height: 15px;
}
/*===============================after search forms ends here=================================*/ 