@page "{country}"
@model india.ttlholidays.com.Pages.FlightDetailModel
@{
    ViewData["Title"] = @Model.Country;
}

<h2>@Model.Country</h2>

<p>Use this page to detail your site's privacy policy.</p>

 