@model System.Text.Json.JsonElement?

@if (Model.HasValue && Model.Value.ValueKind == System.Text.Json.JsonValueKind.Array)
{
    <div class="mega-menu">
        <div class="container">
            <div class="swiper home1-offer-slider mb-40">
                <div class="swiper-wrapper">
                    @foreach (var offer in Model.Value.EnumerateArray())
                    {
                        string url = offer.TryGetProperty("Url", out var urlProp) ? urlProp.GetString() ?? "#" : "#";
                        string img = offer.TryGetProperty("imagePath", out var imgProp) ? imgProp.GetString() ?? "" : "";
                        <div class="swiper-slide"> <a asp-page="/offerDetails" asp-route-offer_name="@url"><img src="@img" alt=""></a> </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <div class="swiper-pagination1 paginations"></div>
                </div>
            </div>
        </div>
        <img src="~/assets/img/home1/mega-menu-vector1.svg" alt="" class="vector1"> <img src="~/assets/img/home1/mega-menu-vector2.svg" alt="" class="vector2">
    </div>
    <div class="offers-slider swiper">
        <div class="swiper-wrapper">
        </div>
        <div class="swiper-pagination"></div>
    </div>
}
 
